*{ padding: 0; margin: 0; box-sizing: border-box; }
body{
	background: url("bg.jpg");
	background-size: cover;
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
/*nav*/
.container{
	width: 90%;
	height: 90%;
	background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.4));

}
nav{
	display: flex;
	justify-content: center;
	align-items: center;
}

nav a{
	text-decoration: none;
	color: white;
	padding: 10px;
	margin:10px;
	font-size: 20px;
	text-transform: uppercase;
	position: relative;
}
nav a:before{
	content: "";
	width: 0%;
	border-bottom: 2px solid orange;
	position: absolute;
    bottom: 0%;
	display: block;
}
nav a:hover:before{
	width: 80%;
	transition: 0.4s linear;
}
/*text area*/
.text{
	max-width: 450px;
	color: white;
	margin-top: 100px;
	margin-left: 100px;
}
.text h1{
	font-size: 55px;
	padding-left: 10px;
	border-left: 3px solid orange;
	margin-left: 30px;
}
.text p{
	margin:20px 0px;
	font-size: 23px;
	text-align: justify;
	margin-left: 30px;
}
/*button*/
button{
	padding: 10px;
	background: transparent;
	border: 2px solid rgb(15, 184, 199);
	outline: none;
	color: white;
	border-radius: 8px;
	margin-left: 30px;
}
#but:hover{  
	border: 2px solid orange;
}
/*social icon*/
#icon{
	margin-top: 30px;
	margin-left: 30px;
}
/*moving image*/
.image{
      position: absolute;
	bottom: 0%;
	right: 0;
	max-width: 50%;
	animation: pendulum 2s ease-in-out infinite;
}
#pic{
	position: relative;
    bottom: 40px;
	right: 100px;
}
  
  @keyframes pendulum {
	0% {
	  transform: translateX(0);
	}
	50% {
	  transform: translateX(-50px);
	}
	100% {
	  transform: translateX(0);
	}}
	/*greeting box*/
.conversation-box {
  position: absolute;
  bottom: 40px;
  right: 130px;
  width: 250px;
  height: 100px;
  margin-bottom: 300px;
  margin-right: 300px;
  background: white;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  font-family:'sans ms', sans-serif;
  animation: conversation-box 2s ease-in-out infinite;
}
.conversation-box.conversation-box {
	border: 4px solid orange;
  }
  .conversation-box p {
	display: inline-block;
	transform: rotate(360deg);
	white-space: nowrap;
  }
.transforming-text {
	display: inline-block;
	bottom: 100%;
	left: 50%;
	transform: translateX(-50%) rotate(45deg);
	font-size: 20px;
	color: rgb(0, 0, 0);
	white-space: nowrap;
	animation:  conversation-box 2s ease-in-out infinite;
  }
   @keyframes  conversation-box{
	0% {
	  transform: translateX(0);
	}
	50% {
	  transform: translateX(-50px);
	}
	100% {
	  transform: translateX(0);
	}}
	